<h1>New Game</h1>
<p>These are the letters:<%= @letters %></p>
<h3>What is the longest word you can find?</h3>
<form action="/score" method="post" data-turbo="false">
  <input type="text" name="word">
  <input type="submit" value="Play">
</form>

